* {
  color: white;
  font-family: 'Montserrat', sans-serif;
}

body {
  background: 
    -webkit-linear-gradient(rgba(246, 247, 249, 0.8), 
    rgba(246, 247, 249, 0.8)), 
    url('./images/bg.jpg') no-repeat center center fixed;
  background: url('./images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.navbar {
  background-color: #49071c;
}

.sign-in {
  color: white !important;
  letter-spacing: 2px;
}

.sign-in:hover {
  color:gold !important;
  border: 1px solid gold;
}

.body .container {
  background: rgba(255, 255, 255, 0.137);
  padding: 40px;
  margin-top: 50px;
  border-radius: 3px;
}

.wel-come {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);  
}

.quote-l, .quote-r {
  position: absolute;
  top: 0;
  font-size: 12px !important;
}

.quote-l {
  left: 0;
}

.quote-r {
  right: 0;
}

.search-wrapper {
  position: relative;
}

.search-wrapper .search-btn {
  position: absolute;
  right: 10px;
  top: 0;
  background: transparent;
}

.search-wrapper .search-btn:hover .fa-search {
  color: lightgray !important;
}